

/* old stuff */
@media (max-width: 768px) {

  #file-notes-container,
  #Wrap-Container {
    width: 100%;
    flex-direction: column;
  }
}
@import url('https://fonts.cdnfonts.com/css/seven-segment');

button {
  display: flex;
  /* changed from fixed */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: rgba(12, 148, 148, 0.808);
  font-family: monospace;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 5px;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
  font-size: 20px;
  width: auto;
  /* changed from fixed width */
  height: auto;
  /* changed from fixed height */
}


button:hover {
  background-color: rgb(15, 80, 165);
}


body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  font-family: Courier;
  text-align: center;
}




#file-notes-container,
#Wrap-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40%;
  max-width: 140px;
  border: 1px solid black;
  background-color: rgba(129, 129, 129, 0.75);
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: aliceblue;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#file-notes-container {
  font-family: monospace;
  font-size: 20px;
  /* remove float: left; */
}

#Wrap-Container {
  font-family: monospace;
  font-size: 20px;
  /* remove float: right; and clear: both; */
}

#helpButton {
  background-color: rgba(12, 148, 148, 0.808);
  font-size: 24px;
  position: inline-block;
  /* remove top and right properties */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  margin-top: 20px;
  /* add margin-top to space the button below the container */
}

#MainHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  max-width: 800px;
  border: 1px solid black;
  background-color: rgba(129, 129, 129, 0.75);
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: aliceblue;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
  width: auto;
  /* changed from fixed width */
  max-width: 800px;
  border: 1px solid black;
  background-color: rgba(12, 148, 148, 0.808);
  border-radius: 10px;
  padding: 20px;
  margin: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.808);
  color: aliceblue;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-family: monospace;
  font-size: 20px;
}

#mute-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15%;
  margin-top: 50px;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-image: url('assets/mute-button.png'); /* Add the image as the button's background */
  background-size: cover; /* Scale the image to cover the button */

}


#scene {
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  max-width: 800px;
  border: 1px solid black;
  background-color: rgba(129, 129, 129, 0.75);
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  font-family: monospace;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: aliceblue;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  color: white;
  padding: 10px;
}

#inputField {
  width: 100%;
  color: white;
}

#devMenu {
  background-color: lightgrey;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  display: grid;
  align-items: center;
}
/*
.button-grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(5, 50px);
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.611);
  border: 1px solid rgb(255, 255, 255);

} */


#inventory-box {
  position: absolute;
  top: 20px;
  right: 0;
  width: 80%;
  max-width: 200px;
  height: 500px;
  border: 1px solid black;
  background-color: rgba(129, 129, 129, 0.75);
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  color: aliceblue;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}





#inventory-title {
  font-size: 24px;
  color: aliceblue;
  font-weight: bold;
  justify-content: top;
  text-align: center;

}

a {
  color: #00ffe5;
  /* Set the color to a shade of green */
  font-family: monospace;
  font-size: 20px;

}

/*
body {
  overflow: hidden;
}
*/

#helpPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  text-align: center;
}

#helpPage label,
#helpPage input {
  display: inline-block;
  vertical-align: middle;
  margin: 20px auto;
}

#helpPage label {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  margin-right: 10px;
}

#helpPage label {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  width: 100px; /* Set the width of the label */
  text-align: right; /* Align the text of the label to the right */
  margin-right: 10px;
}


#helpPage {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  position: fixed; /* Sit on top of the page content */
  display: flex; /* Make it a flex container */
  flex-direction: column; /* Stack the elements vertically */
  align-items: center; /* Center the elements horizontally */
  justify-content: center; /* Center the elements vertically */
  top: 0; /* Stick to the top of the page */
  left: 0; /* Stick to the left of the page */
  right: 0; /* Stick to the right of the page */
  bottom: 0; /* Stick to the bottom of the page */
  backdrop-filter: blur(40px);
  z-index: 1; /* Sit above other elements on the page */
}


#closeButton {
  display: block;
  margin: 20px auto;
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: rgba(12, 148, 148, 0.808);

}

#ConfirmPin {
  display: block;
  margin: 20px auto;
  font-size: 18px;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: rgba(12, 148, 148, 0.808);

}

/* these are the styles for the keypad buttons for the cleaning room  */
.keypad-container {
  position: relative;
  top: 85px;
  left: 20px;
  /* add your custom styles here */
  background-image: url("./images/button.png");
  background-position: 50% 50%;
  width: 100px;
  height: 50px;
  font-size: 2em;
  border: 2px solid transparent black;
  outline: none;
  cursor: pointer;
  font-family: 'Seven Segment', courier;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 3px 3px 3px 3px rgb(75, 75, 75);
  transform: scale(0.95) translateY(2px);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  transition: border 0.3s ease-out;
  border: 2px solid;
  color: rgb(0, 0, 0);
  font-weight: bold;

}

.keypad-container:hover {

  box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
  transform: scale(1.05) translateY(-2px);
  border: 2px solid #0f0f0f;


}

.keypad-button {
  background-image: url('./images/button.png');
  /* other styles */
}

/* this is everything that the keypad background and buttons sit in. */
#keypad {
  display: flex;
  
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 330px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  font-family: 'Seven Segment', courier;
  text-align: center;
  position: relative;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  

}


#keypad::before {

  content: "";
  position: absolute;
  top: -50px;
  right: -140px;
  bottom: -200px;
  left: -80px;
  background-image: url('./images/KP3.png');
  background-size: cover;
  z-index: -1;
  margin-right: 20px;
  margin-bottom: -150px;

}

#input {
  display: flex;
  width: 4in;
  height: 1in;
  margin-top: 50px;
  margin-left: 40px;
  background-color: rgb(10, 64, 10);
  text-align: center;
  color: lime;
  font-family: 'seven segment';
  font-size: 100px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  

}

#led-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  top: 550px;
  right: 88px;
  
}


.led {
  display: flex;
  width: 25px;
  height: 25px;
  border: none;
  background-color: darkred;
  border-radius: 50%;
  pointer-events: none;
  

}

.led.on {
  background-color: rgb(255, 0, 0);
  pointer-events: none;

}

.flash {
  animation: flash 1s  ease-out infinite;
  
}

@keyframes flash {
  100% {
    color: darkred;
    border-radius: 0%;
    text-shadow: none;
  }
}

.fade {
  transition: opacity 4s linear;
  opacity: 0;
}

.white-text {
  color: white;
}



/* Style the loading screen */
.loading-screen {
  position: fixed; /* Sit on top of the page content */
  display: flex; /* Make it a flex container */
  flex-direction: column; /* Stack the elements vertically */
  align-items: center; /* Center the elements horizontally */
  justify-content: center; /* Center the elements vertically */
  top: 0; /* Stick to the top of the page */
  left: 0; /* Stick to the left of the page */
  right: 0; /* Stick to the right of the page */
  bottom: 0; /* Stick to the bottom of the page */
  backdrop-filter: blur(40px);
  z-index: 2; /* Sit above other elements on the page */
}


/* Style the text boxes */
.text-box {
  display: flex; /* Make it a flex container */
  align-items: center; /* Center the contents vertically */
  justify-content: center; /* Center the contents horizontally */
  width: 200px; /* Set the width of the text box */
  height: 50px; /* Set the height of the text box */
  background-color: white; /* Make the background white */
  border: 1px solid grey; /* Add a grey border */
  margin: 10px; /* Add some margin around the text box */
  font-size: 18px; /* Increase the font size */
}
.loading-screen h1 {
  width: 80%; /* Set the width to 80% of the parent element */
  text-align: center; /* Center the text */
  white-space: normal; /* Allow the text to wrap */
}
